header {
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
    height: 70px;
    width: 100%;
}

/* Accessibility support */
h1, h2, h3, h4, h5, h6 {
    /* Ensure the color of the headers has enough contrast with the background */
    color: #333333;
}

.logo {
    background-image: url('/AirBnB_clone_v2/web_static/images/logo.png'); /* Sets the png logo 'hbnb' beside the icon*/
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px; /* Adjust the height of the logo */
    width: auto; /* Adjust the width of the logo */
    margin-left: 20px; /* Add 20px space at the left */
    margin-right: auto; /* Align the logo to the left */
    transform: translateY(60%); /* Adjust for centering */
}
