.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex; /* Moves search button to the middle of the bar*/
    justify-content: flex-end; /* Align items(search button) to the right */
    align-items: center; /* Reduces search button size and aligns it to center*/
    position: relative; /* Required for absolute positioning */
    padding-right: 30px; /* Add padding to the right for button */
}   

.search-button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none; /* Remove the black border line around the search button*/
    border-radius: 4px; /* Sets border radius - curves the search box border line to look curved*/
    cursor: pointer; /* Makes an element interactive when hovered on - Adds cursor glove like when hovering over an element*/
    transition: opacity 0.3s ease;
    position: absolute; /* Position button absolutely */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for centering */
    right: 30px; /* Position 30px from the right */
}

.search-button:hover {
    opacity: 0.9; /* Makes the mouse become opaque or almost transparent when hovered on*/
}
